*{
margin:0;
padding: 0;
}
.principal{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 96vh;
}
footer{
    background-color: #28154A;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    height: 42px;
}
.btn-menu,
.btn-chef{
    width: 178px;
    height: 176px;
}
.options{
    display: flex;
    width: 60%;
    padding-bottom: 90px;
    justify-content: space-between;
    color: white;
    h3{
        text-align: center;
    }
}