*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #28154A;
    height: 142px;
    display: flex;
    flex-direction: row;
}
.logo{
height: 200px;
width: 300px;
position: relative;
bottom: 15px;

}
.sect-input{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 83vh;
}
.home,
.order{
    padding: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: medium;
}
hr{
    background-color: black;
    width: 3px;
    border-color: black;
}
.inputName{
    height: 0;
    width: 370px;
    margin: 15px;
    border-color: #587DFF;
    border-radius: 10px;
    color: white;
    background-color:black;
    font-size: large;
    position: relative;
    right: 35px;
    padding: 3%;
    text-align: center;

}
.numTable{
    height: 50px;
    margin: 15px;
    width: 70px;
    border-color: #587DFF;
    border-radius: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: large;
}
